*~
*.bk
*.o
*.back
*.orig
.nfs*
*.lock
vendor
.bundle
.*.swo
*.swp
.*.swp
.project
.settings
.vagrant
.vagrant.d
environments/*
.idea/workspace.xml
.idea/tasks.xml
.idea/**/workspace.xml
.idea/**/tasks.xml
.DS_Store
.Pipfile
.Pipfile.lock
ansible
ansible-*
venv
.vscode

# ansible-builder
builder/context
builder/venv

# Python
.pytest_cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.egg
*.whl
pip-wheel-metadata/
.tox/
.venv/
.venv*/
.env
.env*/
dist/

# docker
.dockerignore
docker-compose.override.yml
*.log
*.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

node_modules

.ansible
context
