[defaults]
deprecation_warnings = True
retry_files_enabled = False
force_color = 1
nocows = 1
cow_selection = random
ask_vault_pass = False
remote_tmp = /tmp/.ansible/tmp
interpreter_python = auto_silent

[diff]
always = True

[ssh_connection]
pipelining = True
transfer_method = scp
scp_if_ssh = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null

